body{
	display: flex;
	flex-direction: column;
	margin-top: 130px;
	place-items: center;
}
h1{
	font-size: 30px;
}
/* ***************header*************** */
.header * {
  box-sizing: border-box;
}
.header {
  background-color: white;
  width: 100%;
  padding: 40px 60px 40px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 2px solid #7070ff;
}
.logo {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}
.search {
  flex: 1;
  height: 32px;
  position: relative;
}
.fieldset {
  border-radius: 17px;
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 1px;
  width: 350px;
  height: 32px;
  position: absolute;
  left: 52px;
  top: calc(50% - 16px);
}
.mypage {
  width: 25px;
  height: 25px;
  position: relative;
  left: 11px;
  top: calc(50% - 12.5px);
  opacity: 0.2;
  cursor: pointer;
}
.mypage:hover{
	opacity: 1;
}
.input {
  background: #ffffff;
  height: 30px;
  position: absolute;
  right: 31px;
  left: 43px;
  top: calc(50% - 15px);
  overflow: hidden;
}
.search-box {
  height: 15px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 7.5px;
  overflow: hidden;
}

.search-text {
  color: #757575;
  text-align: left;
  font-family: "NotoSansKr-DemiLight", sans-serif;
  font-size: 12.2890625px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-width: none;
}
.navigation {
  flex-shrink: 0;
  width: 240px;
  height: 15px;
  position: relative;
}
.log-in {
  color: black;
  text-align: center;
  font-family: "NotoSansKr-DemiLight", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 92px;
  top: -0.5px;
  width: 55px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
}
.log-in:hover{
	opacity: 1;
}

.join-bw {
  color: black;
  text-align: left;
  font-family: "NotoSansKr-DemiLight", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 177px;
  top: -0.5px;
  width: 55px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.4;
}
.join-bw:hover {
	opacity: 1;
}
.my-page-icon {
  color: black;
  opacity: 0.4;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.my-page-icon:hover {
	opacity:1;
}

/* content */
/* 컨테이너 스타일 */
.container {
  width: 500px;
  height: 1000px;
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 8px;
}

.content-title {
  text-align: center;
  border-bottom: 1px solid black;
}

.subtitle ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.subtitle li {
  font-size: 16px;
  cursor: pointer;
  color: #555;
}
.subtitle li:hover {
  color: #7070ff;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.content-img {
  width: 100%;            
  height: 300px;          
  overflow: hidden;   
  border: 1px solid black;    
  border-radius: 10px;
  object-fit: cover;
}

.image-size {
  width: 100%;            
  height: 100%;           
  object-fit: cover;      
}


.image-responsive {
  width: 100%;            
  height: 100%;           
  object-fit: cover;      
}

.map-image{
	margin: 0 auto;
	display: flex;
	width: 400px;
	height: 200px;
	object-fit: cover;
	margin-bottom: 10px;
	border: 1px solid black;
}

.content-explain h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.explain-restaurant {
  font-size: 16px;
  color: #666;
}

.restaurant-name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.review {
  font-size: 16px;
  color: #ff9800;
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.review p{
	font-size: 25px;
}
.review a{
	margin-left: 20px;
	color: black;
}

.menu_container{
	width: 100%;
	height: 150px;
	padding: 30px;
	border-bottom: 1px solid #ccc;
}
.menu_name{
	margin-bottom: 10px;
}
.menu_name a{
	font-size: 20px;
	font-weight: bold;
}
.menu_explain{
	margin-bottom: 10px;
}
.menu_explain a{
	font-size: 15px;
	color: #ccc;
}
.menu_price a{
	font-size: 18px;
	font-weight: bold;
}

/* 위치 스타일 */
.restaurant-location {
  margin-top: 30px;
}

.restaurant-location h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  color: black;
}

.restaurant-location a {
  font-size: 14px;
  color: black;
}

.restaurant-location .map-icon{
	margin-left: 30px;
}

/* 푸터 하단 리스트 */

.footer_under{
	width: 960px;
	margin: 0 auto;
}
.footer_list, .address_1, .address_2, .company {
	display: flex;
	text-align: left;
    margin: 10px 0;
}

.footer_list a, .address_1 a, .address_2 a, .company a {
	display: flex;
	text-align: left;
	color: black;
    opacity: 50%;
    margin: 0 5px;
    text-decoration: none;
}

.footer_list a:hover, .address_1 a:hover, .address_2 a:hover, .company a:hover {
    color: #000;
}

section {
	margin: 100px auto;
	min-height: 300px;
}

.text-title {
	font-size: 32px;
}

.underLine-up{
	width: 60%;
	height: 1px;
	background-color: black;
	background-repeat: repeat;
	margin-bottom: 0;
	opacity: 50%;
	margin-top: 100px
}

.underLine{
	width: 100%;
	height: 70px;
	background-color: #7070ff;
	background-repeat:repeat;
	margin-bottom: 0;
}
